



@media  screen and (max-width: 768px) {
    .connected {
        width: 100%;
        margin: 0;
    }
    
}

/* .logout{
    top: 0;
    right: 0;
    margin: 0.15em;
    padding-right: em;
    color: white;
    font-size: 1.5em;
    cursor: pointer;

} */

/* .btn_logout {
    left: 20%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 25em;
    height: 80px;
}