.connected {

    height: 100vh;
    width: 80%;

    margin: 0 auto;
}



@media  screen and (max-width: 768px) {
    .connected {
        width: 100%;
        margin: 0;
    }
    
}

.logout{
    top: 0;
    right: 0;
    margin: 0.15em;
    padding-right: em;
    color: white;
    font-size: 1.5em;
    cursor: pointer;

}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 25em;
    height: 80px;
}