.resume {
    width: 100%;
    max-width: 400px;
}

.contentResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.head_name_page>h2{
    text-decoration: underline;
    font-weight: normal;
    text-underline-position: under;
}
