.category {
  background-color: var(--tertiary);
  border-radius: 20px;
}

.categoryButton {
    margin-bottom: 0px; /* Réduit l'espacement entre les catégories */
  }
  
  .categoryButton button {
    height: 10px;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .categoryButton button:hover {
    text-decoration: underline;
    border: none;
  }


  @media screen and (min-width: 768px){
    .category {
      padding: 30px;
    }
    
    .categoryButton button {
      margin: 10px 0;
    }

  }