/* Ajoutez ces styles à votre fichier CSS (par exemple, Messages.css) */

.content-user {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    padding: 5px;
}

.title-Messages {
    text-align: center;
    color: #fff;
    /* Couleur du titre */
}

.user_h2 {
    text-align: center;
    color: #333;
    /* Couleur du titre */
}

.user_read {
    list-style: none;
    padding: 0;
}

.select_user {
    padding: 10px;
    margin: 5px 0;
    background-color: #16181C;
    color: #fff;
    /* Couleur de fond pour chaque utilisateur */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select_user:hover {
    background-color: #333;
    /* Couleur de fond lorsqu'un utilisateur est survolé */
    transition: background-color 0.3s ease;
}

.search_user {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}