.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_info h2 {
  margin-left: 20px;
}
.info_profil {
  display: flex;
  flex-direction: column;
  width: 55vw;
  max-width: 300px;
  height: 100%;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stats div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats div p {
  margin: 0;
}

.imgProfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0px 20px;
}

.imgProfil img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.menuProfil {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.menuProfil div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuProfil a {
  text-decoration: none;
  margin: 10px;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
}


.container_oeuvres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.book {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  overflow: hidden; 
}


.couverture {
  width: 70vw;
}

.likes {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.likes p {
  margin-left: 10px;
} 
