nav {
    width: 100%;
    background-color: var(--secondary);
    border-radius: 0 0 18px 18px;
}

nav .content {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div .logo{
    width: 80px;
    height: 50px;
    margin-left: 20px;
}

.content div{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content div img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

@media  screen and (min-width: 850px) {
    nav .content  {
        display: none;
    }
    
}

