.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  width: 38px;
}

.sugestionsBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.bookSuggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

  max-width: 200px;
  width: 100%;
}
.author {
  display: flex;
}
