.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  width: 38px;
}

.sugestionsBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.bookSuggestions {

  margin: 20px;
  width: 100%;
}
.author {
  display: flex;
}
