*{
    color: black;
}

/*----------partie 1 info_profil----------*/
.container_info{
    display: flex;
    height:14vh;
    margin-top:9vh;
    border: solid black;
    border-width: 2px 0;
}
.image_profil{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30vw;

}
.image_profil>img{
    height: 72px;
    border-radius: 50px;
}

.info_profil{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100%;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.name>h4{
    font-size: 24px;
}
.info_follow{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.followers{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.followers>p{
    margin: 2px;
}
.following{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.following>p{
    margin: 2px;
}
.edit_profil{
    width: 15vw;
    background-color:pink;
}





/*-------/fin partie 1 info_profil-------------*/
/*----------partie 2 oeuvres_profil----------*/
.container_oeuvres{
    height: 20vh;
    background-color: red;
}
.container_oeuvres>h3{}
.all_oeuvres{}
.exemple_oeuvres{}



/*----------/fin partie 2 oeuvres_profil----------*/
/*----------partie 3 lecture_profil----------*/

.container_lecture{
    height: 20vh;
    background-color: green;
    margin-bottom: 20vh;
}
.container_info>h3{}
.all_lecture{}
.exemple_lecture{}

/*----------/fin partie 3 lecture_profil----------*/