.readbooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.readbooks__book {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.readbooks__book__image {
  display: flex;
  justify-content: center;
}

.readbooks__book__image img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}

.readbooks__book__content {
  max-width: 600px;
  margin-top: 3vh;
}

.readbooks__book h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.readbooks__book p {
  font-size: 16px;
}

hr{
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  border: none;
}

.readbooks__comments {
  width: 100%;
  max-width: 800px;
  margin:1vh 0 15vh;
}

.readbooks__comments h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.readbooks__comments form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readbooks__comments textarea {
  width: calc(100% - 15px);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  color: black;
  background: var(--primary);
  border: var(--secondary) 1px solid;
}

.readbooks__comments button {
  padding: 10px 20px;
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.readbooks__comments button:hover {
  background-color: var(--secondary);
  color: black;
  border: none;
}

.readbooks__comments__comment {
  border-radius: 5px;
  border: 1px solid var(--secondary);
  padding: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.readbooks__comments__comment p {
  margin: 0;
}

.info_comment{
  text-align: right;
  font-size: smaller;
  opacity: 0.4;
}

/* Add more styles as needed */